# Dependencias
node_modules/
.venv/
venv/

# Builds
dist/
build/

# Python
__pycache__/
*.py[cod]

# Entrenamiento / datasets
runs/
dataset/
datasets/
*.zip
*.tar
*.tar.gz
*.pt
*.pth
ml/weights/

# Logs
*.log

# Entorno / editor / SO
.env
.env.*
.vscode/
.idea/
.DS_Store
Thumbs.db
